<a href="https://colab.research.google.com/github/alekhaya99/Python-Tutorial/blob/master/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
a={1,2,2,3,6,5,3,6,9,7,8}

In [9]:
''' Check the length of the set '''
len(a)

8

In [10]:
''' Provides the copy of 'a' set '''
a.copy()

{1, 2, 3, 5, 6, 7, 8, 9}

In [36]:
t={4,5,6,8,9,7,2,5,1}

In [12]:
''' Provides a set of element that are in set a but not in set t '''
a.difference(t)

{3}

In [13]:
''' Provides a set of element that are in both set t and set a '''
a.intersection(t)

{1, 2, 5, 6, 7, 8, 9}

In [14]:
'''Returns  True if no element is common in both sets a and t '''
a.isdisjoint(t)

False

In [15]:
''' Returns  True if all elements of set a is also in set t'''
a.issubset(t)

False

In [16]:
''' Returns  True if all elements of set t is also in set a'''
a.issuperset(t)

False

In [17]:
''' Returns a set of element that are either in t or a sets but not in both'''
a.symmetric_difference(t)

{3, 4}

In [18]:
''' Returns a set of element that are either in the t or a sets '''
a.union(t)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Mutable Sets Operation

In [22]:
''' Add an item to the set '''
b={1,2,3,4,5}
b.add(6)
b

{1, 2, 3, 4, 5, 6}

In [20]:
''' Removes all item in the set '''
b.clear()
b

set()

In [24]:
'''Removes those element from set b set that are also in other set '''
b.difference_update(t)
b

{3}

In [35]:
''' Removes the item from a particular set '''
t.discard(1)
t

{5, 6, 7, 8, 9}

In [28]:
''' Removes the item from a particular set , which are not in the intesection of that particular set and the other set '''
b.intersection_update(t)
b

set()

In [30]:
''' Removes an item from a particular set and it removes it from the set '''
t.pop()

2

In [37]:
''' Deletes an item from the set '''
t.remove(4)

In [38]:
t

{1, 2, 5, 6, 7, 8, 9}

In [40]:
''' Appends the item in a particular set into another set '''
b.update(t)
b

{1, 2, 5, 6, 7, 8, 9}

In [42]:
''' Deletes all the element from a particular set that are not in symetric difference with another set '''
b.symmetric_difference_update(t)
b

{1, 2, 5, 6, 7, 8, 9}

## Frozen Set
Unlike normal set format set, frozen set are immutable i.e we cannot add or delete any item etc.

In [44]:
c=frozenset(t)
c

frozenset({1, 2, 5, 6, 7, 8, 9})