<a href="https://colab.research.google.com/github/alekhaya99/Python-Tutorial/blob/master/STRINGS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Returns a string with only first character capitalized and the rest remaning lowercase
s='tom'
s.capitalize()

'Tom'

In [11]:
#Counts the occurence of a substring from a given index to an end index and if you consider the whole string, then remove the end and start index
s='I like tom and jerry'
s.count("t",0,9)

1

In [12]:
#replaces tabs with spaces
s='I  love  CODING'
s.expandtabs(10)

'I  love  CODING'

In [13]:
#Returns TRUE if the string ends with the given Substring
s='I am Superman'
#s.endswith(substring,[start,end])
s.endswith('n',0,16)

True

In [14]:
#Returns index of first presence of a substring
s='I love to go to my School'
#s.find(substring,[start,end])
s.find('love')

2

In [15]:
#Returns TRUE if all characters are alphanumeric of String s
s='I am 20 years old'
s.isalnum()

False

In [16]:
#Returns TRUE if all chars are alphabetic of String s
s='I am 20 years old'
s.isalpha()

False

In [17]:
#Returns TRUE if all chars are digit in a string
s='1 2 3 4 5 6 7 8'
s.isdigit()

False

In [18]:
#Splits a string separated by Whitespaces. Returns a list
#s.split([separator],[maxsplit])
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
print( txt.split("#", 1))
txt = "hello, my name is Peter, I am 26 years old"

print(txt.split(", "))

txt = "welcome to the jungle"

print(txt.split())

['apple', 'banana#cherry#orange']
['hello', 'my name is Peter', 'I am 26 years old']
['welcome', 'to', 'the', 'jungle']

In [19]:
#Joins a string in sequence t
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

print(mySeparator.join(myDict))

myTuple = ("John", "Peter", "Vicky")

print("#".join(myTuple))

nameTESTcountry
John#Peter#Vicky

In [20]:
#Converts a string to lowercase
s='A B C D E F G'
s.lower()

'a b c d e f g'

In [21]:
#Replaces old substring with a new substring
#s.replace(old,new[maxreplace])
s='I love engineering'
s.replace("engineering","technology")

'I love technology'

In [22]:
#Returns TRUE if the srtring starts with a substring
#s.startswith(substring,[start,end])
s="I am IRONMAN"
s.startswith('I')

True

In [23]:
#Returns a copy of the swapped case in a string
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [25]:
#Removes whitespace or optional character

txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

anana

In [28]:
#Returns a copy of the string with leading characters removed
s="I am Captain America"
s.lstrip('I am')

'Captain America'